.header {
  background-color: #363636;
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 145px;
  color: #D8D8D8;
  font-size: 17px;
  font-family: poppins, sans-serif;
}

.header__contactnumber a {
  color: #D8D8D8;
}

.header__contactnumber a:hover {
  color: #D8D8D8;
}

.fa-mobile-alt {
  display: none;
}

.header__logo {
  margin-top: 40px;
  align-self: start;
}

.header__basket-icon {
  padding: 9px 16px 9px 9px;
  background-color: #D58E32;
  border-radius: 3px;
  position: relative;
}

.header__basket-icon a {
  color: #ffffff;
}

.header__basket-icon a:hover {
  color: #ffffff;
}

.header__basket-icon--circle {
  position: absolute;
  border-radius: 50%;
  background-color: #363636;
  width: 25px;
  height: 25px;
  font-size: 12px;
  top: 8px;
  left: 36px;
}

.header__basket-icon--circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/*basket empty modal*/

.modal-bodyEmptyMine {
  font-size: 48px;
  // text-transform: uppercase;
  color: #939393;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
}

.modal-bodyEmptyMine p:last-child {
  font-size: 30px;
font-weight: 300;
line-height: 52.71px;
  // color: #939393;
}
.modal-basket-content{
  border-radius: 0;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border: none;
}

/*basket empty modal*/
/*full basket modal*/
.cart-item-block{
  border: 1px solid #c4c4c4;
  margin-bottom: 22px;
}
.cartImg{
  width: 100%;
}
.close__basketFullMine {
  opacity: 1;
}

.close__basketFullMine span {
  background-color: #2A2A2A;
  padding: 8px 20px;
  color: #FFFFFF;
  opacity: 2;
}

.close__basketFullMine:focus {
  outline: none;
}

.modal-content__basketFullMine {
  border-radius: 0;

}

.modal-header__basketFullMine {
  border: none;
  padding: 12px 0 0 0;

}

.modal-content__body-footer {
  padding: 20px 55px 30px 15px;
}

.modal-content__body-footer:hover .btn-right__basketFullMine {
  // background-color: #D58E32;
  // color: #FFFFFF;
}

.modal-content__body-footer:hover .sign {
  // color: #D58E32;
  // border-color: #D58E32;
}

.sign:hover {
  color: #D58E32;
  border-color: #D58E32;
}
.sign:active {
  color: #D58E32;
  border-color: #D58E32;
  transform: scale(1.05);

}

.modal-body__basketFullMine {
    padding: 0;
}

.basketFullMine__name {

  font-size: 25px;
  font-weight: bolder;
  color: #2A2A2A;

}

.basketFullMine__name-oldPrice {
  font-size: 25px;
  font-weight: lighter;
  color: #C5C5C5;
  text-decoration: line-through;
}

.basketFullMine__name-newPrice {
  font-size: 26px;
  color: #FFFFFF;
  background-color: #2A2A2A;
  text-align: center;
  margin: 0;
  padding: 0;
}

.basketFullMine__sum {
  font-size: 25px;
  color: #C5C5C5;
}

.basketFullMine__sum-num {
  color: #2A2A2A;
  font-size: 26px;
  font-weight: bolder;
}

.basketFullMine-quantity {
  font-size: 16px;
  font-weight: bolder;
  color: #636363;
}

.quantity {
  display: inline-block;
  border: 1px solid #636363;
  padding: 5px 30px;
}

.sign {
  display: inline-block;
  border: 1px solid #2A2A2A;
  padding: 5px 15px;
}

.modal-footer__basketFullMine {
  border: none;
  display: block;
  padding: 0;
  position: relative;
}

.btn-left__basketFullMine {
  padding: 9px 30px 9px 0;
  
}
.btn-right__basketFullMine{
  padding: 8px 30px 8px 0;
}
.btn-basket{
  border: none;
  font-size: 13px;
  color: #FFFFFF;
  background-color: #939393;
  text-transform: uppercase;
  font-weight: 400;
  &:hover{
background-color: #D58E32;
  color: #FFFFFF;
  }
}
.btn-right__basketFullMine {
  position: absolute;
  right: 0;
}

.basketFullMine__total-price {
  text-align: right;
  font-size: 26px;
  color: #2A2A2A;
  padding: 0 0 15px;
}

.fa-chevron__basketFullMine {
  padding: 0 10px 0 15px;
  font-size: 16px;
}

.fa-basket__basketFullMine {
  padding: 0 15px 0 15px;
  font-size: 18px;
}

/*full basket modal*/
@media (min-width: 992px) {
  .fa-mobile-alt {
    display: inline-block;
    padding-right: 8px;
    font-size: 25px;
  }
  .fa-mobile-alt:hover {
    color: #d58e32;
  }
}

@media (min-width: 430px) {
  .modal-basket {
    max-width: 420px;
    // margin: auto auto;
    // border-radius: none;
  }

  .modal-header-custom .close-custom-details {
    margin-top: 26px;
  }

  }
@media (min-width: 768px) {
  .details-modal {
    max-width: 757px;
    margin: 2rem auto;
  }
  .modal-header-custom .close-custom-details {
    margin-top: 0;
  }
  .details-modal .modal-header-custom {
    padding: 0 1rem;
  }

  .details {
    &__text-wrapper {
      border-bottom: none;
      padding-bottom: 0;
    }
    &__available {
      border-bottom: none;
      padding-bottom: 11px;
    }
    &__links {
      border-top: 1px solid #d3d3d3;
    }
    &__img-wrapper {
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  .details {
    &-modal {
      max-width: 1146px;
      margin: 2.5rem auto;
    }
    &__available-item {
      display: block;
    }
    
    
    &__text-wrapper {
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 22px;
    }
    &__available {
      padding-bottom: 11px;
    }
    &__links {
      border-top: 1px solid #d3d3d3;
      text-align: left;
    }
  }
}
