.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 565px;
  height: 145px;
  background-color: #363636;
  color: #D8D8D8;
  font-size: 17px;
  font-family: poppins, sans-serif;
  margin: 0 auto;
}

.header_logo {
  margin-top: 40px;
  align-self: start;
}

.header_basket-icon {
  padding: 9px 16px 9px 9px;
  background-color: #D58E32;
  border-radius: 3px;
  position: relative;
}

.header_basket-icon--circle {
  position: absolute;
  border-radius: 50%;
  background-color: #363636;
  width: 25px;
  height: 25px;
  font-size: 12px;
  top: 8px;
  left: 36px;
}
.header_basket-icon--circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}