.top-menu {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  font-family: poppins, sans-serif;
  box-shadow: 0 8px 5px -3px #b0b0b0;
}

.navbar-lightMine {
  position: relative;
  padding: 8px 0;
}

.nav__form-inlineMine {
  border: 1px solid #2A2A2A;
  padding: 5px 15px;
  margin: 0 100px 0 0;
}

.nav__form-controlMine {
  border: none;
  width: auto;
}

.nav__form-controlMine:hover {
  outline: none;
}

.fa-search {
  color: #2A2A2A;
}


//TogglerAnimation
.nav-togglerMine {
  border: none;
  z-index: 3;
}

.nav-togglerMine:focus {
  outline: none;
}

.icon-bar {
  width: 29px;
  height: 3px;
  background-color: #2a2a2a;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}


.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;

}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;

}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

//TogglerAnimation


.nav-collapseMine {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

}

.navbar-navMine {
  background-color: #363636;
  width: 150px;
  height: 350px;
  padding-top: 80px;
  padding-right: 5px;
  color: #A7A7A7;
}

.nav-itemMine {
  padding: 5px 0;
}

.nav-itemMine:hover {
  color: #D58E32;
  text-decoration: none;
  border-top: 1px solid #000000;
}

.nav-linkMine {
  color: #B8B8B8;
  font-size: 14px;
  text-transform: uppercase;

}

.nav-linkMine:hover {
  color: #d58e32;
  text-decoration: none;

}

@media (min-width: 992px) {

  .navbar-navMine {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding-top: 15px;
    color: #A7A7A7;

  }
  .nav-linkMine {
    color: #2A2A2A;
    padding: 24px 16px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .nav-linkMine:hover {
    border-top: 2px solid #2A2A2A;
    color: #FFFFFF;
    background-color: #d58e32;
  }
}