.header {
  background-color: #363636;
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 145px;
  color: #d8d8d8;
  font-size: 17px;
  font-family: poppins, sans-serif;
}

.header__contactnumber a {
  color: #d8d8d8;
}

.header__contactnumber a:hover {
  color: #d8d8d8;
}

.fa-mobile-alt {
  display: none;
}

.header__logo {
  margin-top: 40px;
  align-self: start;
}

.header__basket-icon {
  padding: 9px 16px 9px 9px;
  background-color: #d58e32;
  border-radius: 3px;
  position: relative;
}

.header__basket-icon a {
  color: #ffffff;
}

.header__basket-icon a:hover {
  color: #ffffff;
}

.header__basket-icon--circle {
  position: absolute;
  border-radius: 50%;
  background-color: #363636;
  width: 25px;
  height: 25px;
  font-size: 12px;
  top: 8px;
  left: 36px;
}

.header__basket-icon--circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*basket empty modal*/

.modal-bodyEmptyMine {
  font-size: 48px;
  // text-transform: uppercase;
  color: #939393;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  margin: 18px 73px 38px;
}

.modal-bodyEmptyMine p:last-child {
  font-size: 30px;
  font-weight: 300;
  line-height: 52.71px;
  // color: #939393;
}
.modal-basket-content {
  border-radius: 0;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border: none;
}

/*basket empty modal*/
/*full basket modal*/
.cart-item-block {
  border: 1px solid #c4c4c4;
  margin-bottom: 22px;
  border-radius: 3px;
}
.cartImg {
  width: 100%;
}
.close__basketFullMine {
  opacity: 1;
}

.close__basketFullMine span {
  background-color: #2a2a2a;
  padding: 8px 20px;
  color: #ffffff;
  opacity: 2;
}

.close__basketFullMine:focus {
  outline: none;
}

.modal-content__basketFullMine {
  border-radius: 0;
}

.modal-header__basketFullMine {
  border: none;
  padding: 12px 0 0 0;
}

.modal-content__body-footer {
  padding: 20px 27px 0px 27px;
}

.sign {
  margin-left: 3px;

  &:hover {
    color: #d58e32;
    border-color: #d58e32;
    outline: none;
    user-select: none;
  }
}
.sign:active {
  color: #d58e32;
  border-color: #d58e32;
  transform: scale(1.05);
  outline: none;
}

.modal-body__basketFullMine {
  padding: 0;
}

.basketFullMine__name {
  font-size: 22px;
  font-weight: bolder;
  color: #2a2a2a;
  line-height: 36px;
  margin-top: 5px;
}

.basketFullMine__name-oldPrice {
  font-size: 20px;
  font-weight: 300;
  color: #c5c5c5;
  text-decoration: line-through;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.basketFullMine__name-newPrice {
  font-size: 22px;
  color: #ffffff;
  background-color: #2a2a2a;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  padding: 7px 9px;
  line-height: 20px;
  &::before {
    content: "$";
  }
}

.basketFullMine__sum {
  font-size: 20px;
  color: #939393;
  font-weight: 300;
  text-align: center;
}

.basketFullMine__sum-num {
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 700;

  &::before {
    content: "$";
  }
}

.sumQuantityBlock{
  margin-top: 32px;
}
.wrapper-quantity {
  margin-top: 15px;
}

.basketFullMine-quantity {
  font-size: 16px;
  font-weight: bolder;
  color: #2a2a2a;
  margin-bottom: 11px;
}
.quantityLabel {
  margin-bottom: 13px;
}

.quantity {
  display: inline-block;
  border: 1px solid #2a2a2a;
  padding: 5.5px 32.5px;
}

.sign {
  display: inline-block;
  border: 1px solid #2a2a2a;
  padding: 5.5px 15px;
}
.basketFullMine__total {
  &:before {
    content: "$";
  }
}
.modal-footer__basketFullMine {
  border: none;
  display: block;
  padding: 0;
  position: relative;
  margin: 0 27px 30px;
}

.btn-left__basketFullMine {
  padding: 9px 30px 9px 0;
}
.btn-right__basketFullMine {
  padding: 8px 30px 8px 0;
}
.btn-basket {
  border: none;
  font-size: 13px;
  color: #ffffff;
  background-color: #939393;
  text-transform: uppercase;
  font-weight: 400;
  &:hover {
    background-color: #d58e32;
    color: #ffffff;
  }
}
.btn-right__basketFullMine {
  position: absolute;
  right: 0;
}

.basketFullMine__total-price {
  text-align: right;
  font-size: 22px;
  color: #2a2a2a;
  margin-bottom: 7px;
}

.fa-chevron__basketFullMine {
  padding: 0 10px 0 15px;
  font-size: 16px;
}

.fa-basket__basketFullMine {
  padding: 0 15px 0 15px;
  font-size: 18px;
}

/*full basket modal*/
@media (min-width: 992px) {
  .fa-mobile-alt {
    display: inline-block;
    padding-right: 8px;
    font-size: 25px;
  }
  .fa-mobile-alt:hover {
    color: #d58e32;
  }
}

@media (min-width: 430px) {
  .modal-basket {
    max-width: 420px;
    margin: 1rem auto;
    box-sizing: border-box;
  }

  .modal-header-custom .close-custom-details {
    margin-top: 26px;
  }
}
@media (min-width: 768px) {
  .modal-basketFull {
    max-width: 750px;
    margin: 1rem auto;
  }
  .modal-bodyEmptyMine {
    margin: 8px 38px 18px;
    & p {
      margin-bottom: 20px;
    }
  }
  .modal-content__body-footer{
    padding: 20px 38px 0px 38px;
  }
  
  .basketFullMine__name-oldPrice{
    padding-right: 0;
  }

  .newOldPrice{
    margin-top: 20px;
  }
  .sumQuantityBlock{
margin-top: 0;
margin-bottom: 24px;
  }

  .quantityLabel{
    margin-bottom: 0;
    display: flex;
  align-items: center;
  
  }
  .sign, .quantity{
    margin-bottom: 0;
  }
  .basketFullMine-quantity{
    margin-bottom: 0;
    display: flex;
  align-items:flex-end;
  }
}

@media (min-width: 1200px) {
  .modal-basket {
    max-width: 1140px;
  }
  .modal-bodyEmptyMine {
    margin: 8px 38px 18px;
    & p {
      margin-bottom: 20px;
    }
  }
  .sumQuantityBlock{
    margin-top: 50px;
    margin-bottom: 0px;
      }
      .newOldPrice{
        margin-top: 25px;
      }
      .basketFullMine__name{
        margin-top: 15px;
      }
}
