.nav {

  margin: 0 auto;
  background-color: #434343;
  color: #D8D8D8;
  border-top: 2px solid #D8D8D8;
  font-size: 13px;
  font-family: poppins, sans-serif;
}

.nav-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background-color: #434343;
  color: #D8D8D8;
  font-size: 13px;
  font-family: poppins, sans-serif;
}

.nav_menu-left {
  display: flex;
}

.nav_menu-right {
  display: flex;
}

.nav_menu-left--item {
  padding-right: 30px;
}

.nav_menu-right--item {
  padding-left: 30px;
}

.nav_menu-left--item a {
  color: #D8D8D8;

}

.nav_menu-right--item a {
  color: #D8D8D8;
}

.nav_menu-left--item a:hover, .nav_menu-right--item a:hover {
  border-bottom: 1px solid #D8D8D8;
  color: #D8D8D8;
  text-decoration: none;
}

.fa-user, .fa-lock {
  padding-right: 10px;
}

/*register-modal and login-modal*/
.modalMine {
  transition: 1s;
}

.modal-contentMine {
  border-radius: 1px;
}

.modal-headerMine {
  padding: 0;
  border: none;
}

.closeMine {
  opacity: 1;
}

.closeMine:focus {
  outline: none;
}

.closeMine span {
  color: #ffffff;
  background-color: #2A2A2A;
  // padding: 10px 19px;
  width: 41px;
height: 37px;
display: block;
line-height: 37px;
}

.modal-titleMine {
  text-transform: uppercase;
  text-align: left;
  color: #2A2A2A;
  font-weight: bolder;
}

.form-groupMine {
  border-radius: 0;
}

.btn-bottomMine {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #2A2A2A;
  text-transform: uppercase;
  justify-content: left;
  border-radius: 3px;

}

.modal-footerMine {
  justify-content: flex-start;
  border: none;
}
#logModal {
  margin: 200px auto;
}

#regModal {
  margin: 160px auto;
}
/*register-modal and login-modal*/
