.top-menu {

  font-family: poppins, sans-serif;
  box-shadow: 0 8px 5px -3px #b0b0b0;
}
.navbar-lightMine {
  position: relative;
}
.nav__form-inlineMine {
  border: 1px solid #2A2A2A;
  padding: 5px 15px;
  margin: 0 100px 0 0;
}
.nav__form-controlMine {
  border: none;
  width: auto;
}
.nav__form-controlMine:hover {
  outline: none;
}
.nav-togglerMine {
  border: none;
  z-index: 3;
}
.nav-togglerMine:focus {
  outline: none;
}
.fa-search {
  color: #2A2A2A;
}
.toggler-iconMine {
  display: block;
  position: relative;
  background-color: #2a2a2a;
  width: 29px;
  height: 3px;
  &:before {
    top: 5px;
    left: 0;
    content: "";
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: #2a2a2a;
  }
  &:after {
    top: -5px;
    left: 0;
    content: "";
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: #2a2a2a;
  }
}


.nav-collapseMine {
  text-align: right;
  position: absolute;
  top: 0;
  right: 28px;
  z-index: 2;

}
.navbar-nav-Mine {
  background-color: #363636;
  width: 150px;
  height: 350px;
  padding-top: 80px;
  color: #A7A7A7;
}
.nav-itemMine {
  padding: 5px 0;
}
.nav-itemMine:hover {
  color: #D58E32;
  text-decoration: none;
  border-top: 1px solid #000000;
}

.nav-linkMine {
  color: #B8B8B8;
  font-family: poppins, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.nav-linkMine:hover {
  color: #d58e32;
  text-decoration: none;

}
@media (min-width: 992px) {
  .nav-collapseMine {
    text-align: center;
  }
  .navbar-nav-Mine {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    padding-top: 15px;
    color: #A7A7A7;

  }

  .nav-linkMine {
    color: #2A2A2A;
    padding: 24px 20px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .nav-linkMine:hover {
    border-top: 5px solid #2A2A2A;
    color: #FFFFFF;
    background-color: #d58e32;
  }
}